%td
  =link_to user_path(user.id) do
    %span= user.name
%td
  =link_to user_path(user.id) do
    %span= user.email
%td
  =link_to user_path(user.id) do
    %span= user.short_url
%td
  =link_to user_path(user.id) do
    %span= user.friends.count
