%nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top{class: ("public" unless user_signed_in?)}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %h2
        =link_to '/', class: 'navbar-brand' do
          Home
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        = render 'layouts/navigation_links'
